<!--The content below is only a placeholder and can be replaced.-->
<div class="center">
  <h1>
    Dojo Weather Forcast
  </h1>
  <ul class="nav">
    <li><a [routerLink]="['seattle']">Seattle, WA</a></li>
    <li><a [routerLink]="['sanjose']">San Jose, CA</a></li>
    <li><a [routerLink]="['burbank']">Burbank, CA</a></li>
    <li><a [routerLink]="['dallas']">Dallas, TX</a></li>
    <li><a [routerLink]="['washington']">Washington D.C.</a></li>
    <li><a [routerLink]="['chicago']">Chicago, IL</a></li>
  </ul>
</div>

<router-outlet></router-outlet>
